NET "FT_CLKOUT" LOC = P93;
NET "FT_CLKOUT" TNM_NET = "FT_CLKOUT_TMN";

TIMESPEC TS_FT_CLKOUT = PERIOD "FT_CLKOUT_TMN" 60 MHz HIGH 50%;

NET "FT_DATA[0]" LOC = P75;
NET "FT_DATA[1]" LOC = P74;
NET "FT_DATA[2]" LOC = P79;
NET "FT_DATA[3]" LOC = P78;
NET "FT_DATA[4]" LOC = P81;
NET "FT_DATA[5]" LOC = P80;
NET "FT_DATA[6]" LOC = P83;
NET "FT_DATA[7]" LOC = P82;
NET "FT_nRESET" LOC = P84;
NET "FT_nTXE" LOC = P85;
NET "FT_nRXF" LOC = P87;
NET "FT_nWR" LOC = P88;
NET "FT_nRD" LOC = P92;
NET "FT_SIWUA" LOC = P94;
NET "FT_nOE" LOC = P95;
NET "FT_nSUSPEND" LOC = P97;

#NET "ADC_CLOCK" LOC = P9;
#NET "ADC_NCS" LOC = P8;
#NET "ADC_DATA[0]" LOC = P14;
#NET "ADC_DATA[1]" LOC = P12;
#NET "ADC_DATA[2]" LOC = P11;
#NET "ADC_DATA[3]" LOC = P10;
