NET "*" IOSTANDARD = LVCMOS33;

NET "CLK" LOC = P126;
NET "CLK" TNM_NET = "CLK_TMN";

TIMESPEC TS_CLK = PERIOD "CLK_TMN" 100 MHz HIGH 50%;

NET "LED[0]" LOC = P119;
NET "LED[1]" LOC = P118;
NET "LED[2]" LOC = P117;
NET "LED[3]" LOC = P116;
NET "LED[4]" LOC = P115;
NET "LED[5]" LOC = P114;
NET "LED[6]" LOC = P112;
NET "LED[7]" LOC = P111;

NET "SW[0]" LOC = P124;
NET "SW[1]" LOC = P123;
NET "SW[2]" LOC = P121;
NET "SW[3]" LOC = P120;

NET "SW[0]" PULLUP;
NET "SW[1]" PULLUP;
NET "SW[2]" PULLUP;
NET "SW[3]" PULLUP;
